body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  max-width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container_logo_reservia {
  padding-top: 30px;
  padding-left: 40px;
}

#img_logo_reservia {
  width: 100px;
  height: 50px;
}

#nav_ancres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  font-size: 18px;
  font-weight: 500;
}

#inscription_boutton {
  padding-right: 40px;
  padding-top: 9px;
  color: #0065fc;
  font-weight: bold;
}

#nav_ancres ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 66%;
  height: 100%;
}

#nav_ancres li {
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  height: 100%;
  text-align: center;
}

#nav_ancres a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 45px;
}

#nav_ancres a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 42px;
}

#nav_ancres a:focus {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 42px;
}

.bloc_page {
  margin-top: 35px;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

/* Barre de recherche*/

.Titre p {
  font-size: 18px;
}

.barre_recherche {
  height: 55px;
  width: 445px;
  display: flex;
  flex-direction: row;
  border: 1px solid #f2f2f2;
  border-radius: 18px;
  background-color: #f2f2f2;
}

#recherche_ville {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#logo_recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
}

#logo_recherche_mobile {
  display: none;
}

.saisie {
  height: 55px;
  width: 250px;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 18px;
}

.button_search {
  background-color: #0065fc;
  border: 1px solid transparent;
  border-radius: 0 18px 18px 0;
  height: 55px;
  width: 135px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* Filtres*/

.filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-top: 10px;
}

#titre_filtre {
  padding-top: 10px;
}

.container_filtres a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 38px;
  padding-right: 25px;
}

.container_filtres a:hover {
  color: #0065fc;
}

.container_filtres ul {
  display: flex;
}

.container_filtres li {
  padding-right: 40px;
  font-size: 20px;
}

.container_filtres i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 25px;
}

.container_filtres i:hover {
  color: white;
  background-color: #0065fc;
}

/* Section hébergements*/

#section_hebergement_et_populaire {
  width: 100%;
  margin-top: 30px;
}

small span {
  font-size: 17px;
  padding-left: 20px;
}

small i {
  color: #0065fc;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}

.container_hebergement_et_populaire {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.hebergement_marseille {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 10px;
  width: 67%;
}

.container_all_hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.hebergement_marseille h2 {
  padding-left: 45px;
}

.content_hebergement {
  color: black;
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: white;
  padding: 4px 4px 15px 4px;
  margin: 20px 5px 20px 45px;
  display: block;
  box-shadow: 0 0 16px #0000002e;
}

.img_hebergement img {
  border: 1px solid transparent;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 320px;
  height: 150px;
}

.prix {
  font-weight: 600;
}

.content_hebergement i {
  font-size: 12px;
  color: #0065fc;
}

#grise1 {
  font-size: 12px;
  color: grey;
}

#grise2 {
  font-size: 12px;
  color: grey;
}

#grise3 {
  font-size: 12px;
  color: grey;
}

#grise4 {
  font-size: 12px;
  color: grey;
}

#grise5 {
  font-size: 12px;
  color: grey;
}

#grise6 {
  font-size: 12px;
  color: grey;
}

#grise7 {
  font-size: 12px;
  color: grey;
}

.content_hebergement span {
  padding-left: 15px;
  height: 10px;
}

.content_hebergement h4 {
  padding-left: 15px;
  font-weight: bold;
  font-size: 20px;
  height: 10px;
}

.content_hebergement p {
  padding-left: 15px;
  height: 10px;
}

#boutton_afficher {
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-top: 35px;
  color: black;
}

#boutton_afficher a {
  color: black;
  font-size: 20px;
}

/*Aside les plus populaires*/

.bloc_populaire {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 40px 0 45px;
  margin-left: 50px;
  width: 26%;
}

.container_all_populaire a:nth-child(3) {
  margin-bottom: 0;
}

.bloc_populaire h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 27px;
  font-weight: bold;
}

.bloc_populaire h2 i {
  font-weight: bold;
  font-size: 27px;
  color: black;
}

.content_populaire {
  color: black;
  display: flex;
  flex-direction: row;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: white;
  padding: 4px 4px 0 4px;
  margin: 20px 5px 50px 0;
  box-shadow: 0 0 16px #0000002e;
}

.img_populaire img {
  border: 1px solid transparent;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  width: 180px;
  height: 185px;
}

.populaire_text {
  padding: 0 30px 10px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container_hebergement_et_populaire i {
  font-size: 12px;
  color: #0065fc;
}

.populaire_text h4 {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  bottom: 15px;
}

.populaire_text p {
  position: relative;
  bottom: 50px;
}

.prix_populaire {
  font-weight: 600;
}

/* Section activités a Marseille */

#bloc_activite {
  padding-top: 60px;
}

.container_activite {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.container_column_activite {
  display: flex;
  flex-direction: column;
}

.img_activite img {
  width: 405px;
  height: 506px;
}

.img_activite1 img {
  width: 405px;
  height: 184px;
}

.img_activite2 img {
  width: 405px;
  height: 214px;
}

.img_activite3 img {
  width: 405px;
  height: 153px;
}

.content_activite img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.content_activite {
  border-radius: 15px;
  box-shadow: 0 0 16px #0000002e;
  margin-left: 65px;
}

#content_activite_margin0 {
  margin-left: 0;
}

.text_activite {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

.container_column_activite a:first-of-type {
  margin-bottom: 60px;
}

/* Footer */

footer {
  padding-top: 90px;
  width: 100%;
}

.container_all_footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.content_footer {
  display: flex;
  flex-direction: column;
  margin-right: 335px;
  width: 360px;
}

.content_footer a {
  color: black;
  font-size: 16px;
}

.content_footer h3 {
  padding-left: 41px;
  font-weight: bold;
  font-size: 20px;
}

.content_footer li {
  margin-bottom: 20px;
}

/* CSS POUR MOBILE */

@media all and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #container_logo_reservia {
    padding-top: 25px;
    padding-left: 25px;
  }

  #inscription_boutton {
    position: absolute;
    right: 5px;
    top: 30px;
    padding-right: 15px;
  }

  #nav_ancres {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    font-size: 18px;
  }

  #nav_ancres ul {
    width: 100%;
    padding: 0;
  }

  #nav_ancres li {
    padding: 0;
  }

  #nav_ancres a {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #f2f2f2;
  }

  #nav_ancres a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    padding-top: 20px;
  }

  #nav_ancres a:focus {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    padding-top: 20px;
  }

  .bloc_page {
    margin: 0;
    padding: 0;
  }

  .bloc_recherche_filtre {
    padding: 0 1% 0 4%;
  }

  .Titre p {
    font-size: 17px;
  }

  .barre_recherche {
    width: 90%;
    height: 50px;
    max-width: 100%;
    border-right: none;
    margin-top: 35px;
  }

  #logo_recherche {
    width: 18%;
  }

  .saisie {
    width: 100%;
  }

  .button_search {
    display: none;
  }

  #logo_recherche_mobile {
    display: flex;
    width: 18%;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    color: white;
    border: 1px solid #0065fc;
    border-radius: 18px;
  }

  /* Filtres */

  .filtres {
    flex-direction: column;
  }

  .container_filtres {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .container_filtres ul {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin-top: 0;
  }

  .container_filtres li {
    padding-right: 0;
    margin-right: 3%;
    margin-bottom: 3%;
  }

  .container_filtres a {
    font-size: 18px;
    padding-right: 15px;
  }

  .container_filtres i {
    margin-right: 10px;
  }

  /* Section Hébergements et Populaire */

  .container_hebergement_et_populaire {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .container_small {
    padding-left: 4%;
    padding-right: 0;
    display: block;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 30px;
    width: 100%;
    box-sizing: border-box;
  }

  .container_small i {
    width: 2%;
    height: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_small span {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
  }

  .hebergement_marseille {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    border: none;
  }

  /* Aside Populaire */

  .bloc_populaire {
    width: 100%;
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 0;
  }

  .bloc_populaire h2 {
    padding: 2% 8% 0 4%;
  }

  .container_all_populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_populaire {
    width: 88%;
    height: 140px;
    padding-bottom: 7px;
    margin-bottom: 0;
  }

  .img_populaire {
    width: 45%;
  }

  .img_populaire img {
    width: 100%;
    height: 100%;
  }

  .populaire_text {
    width: 60%;
    height: 100%;
    padding: 15px 5px 0px 15px;
  }

  .populaire_text h4 {
    position: static;
    padding: 0;
    margin: 0;
  }

  .populaire_text p {
    position: relative;
    top: 10px;
    padding: 0;
    margin: 0;
  }

  .etoiles_populaire {
    position: relative;
    top: 30px;
  }

  .container_activite {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .content_activite {
    margin: 0;
  }

  .content_activite img {
    width: 100%;
    height: 80%;
  }

  .container_all_footer {
    flex-direction: column;
  }
}
